.note.new {
    background-color: aqua;

}

textarea {
    border: none;
    resize: none;
    background-color: aqua;
    outline: none;
    font-family: "Courier New";
}

.save {
    background-color: rgb(216, 214, 214);
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.save:hover {
    background-color: white;
    cursor: pointer;
}